<!-- About Us-->
<div class="container-fluid mt-5 about-style" id="aboutId">
    <div clas="row">
        <div class="col-md-10 col-12 mx-auto">

            <div class=" row">
                <!-- Left Side  -->
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="/public/images/about.jpg" class="d-block w-100" height="500px" alt="About Section">
                    </figure>
                </div>

                <!-- Right Side  -->
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column"
                    style="text-align:justify">
                    <h1>About Us</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio at quis enim
                        voluptatibus, voluptate error cum fugiat eligendi earum tempore odit nisi officiis? Qui iste
                        consectetur fugit, alias, eum deserunt dolorum ipsum deleniti ex eos obcaecati sapiente!
                        Facilis, tenetur corporis!
                    </p>
                    <button class="btn btn-primary">Read More</button>
                </div>

            </div>
        </div>
    </div>
</div>